@using BulkyBook.Models
@model List<Product>
@* <partial name ="_Notification" /> *@
<div class="container">
    <div class="row pt-4">
        <div class="col pt-6 pb-3">
            <h2 class="text-bg-white">
                Product List
            </h2>
        </div>
        <div class="col pt-6 text-end">
            <a asp-controller="Product" asp-action="Upsert" class=" btn btn-primary">
                <i class="bi bi-plus-circle-fill"></i> Create New Product
            </a>

        </div>

    </div>

    <table id="tblData" class="table table-bordered table-striped" >
        <thead>
            <tr>
                <th>Title</th>
                <th>ISBN</th>
                <th>Author</th>
                <th>List Price</th>
                <th>Category</th>
            </tr>
        </thead>
        
    </table>
</div>

                @section Scripts{
                    <script src="~/js/product.js"></script>
                }